<div class="articleCard">
  <div class="articleTitle">Title: {{title}}</div>
  <div class="articleBody">Body: {{body}}</div>
  <div class="articleAuthor">Author: {{author}}</div>
</div>
<a href="/articles/{{title}}/edit">Edit article</a>
<a href="/articles">Back to article listing</a>


