
{{#each articles}}
<div class="articleCard">
  <div class="articleTitle">Title: {{title}}</div>
  <div class="articleBody">Body: {{body}}</div>
  <div class="articleAuthor">Author: {{author}}</div>
</div>
<a href="/articles/{{title}}">Go to article page</a>
{{/each}}
